body {
    font-family: MTSSans, sans-serif;
    color: var(--black);
    min-width: 320px;
    background-color: var(--white);
}

.container {
    margin: auto;
    max-width: 1440px;
}

.main-page {
    padding: var(--section-padding);
    &__description {
        color: var(--grey);
        font-size: 14px;
        margin-bottom: 20px;
    }
    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

.page {
    padding: 0 24px 40px 24px;
    &__panel { /* Панель страницы для отображения названия страницы и хлебных крошек */
        padding: 16px 0 24px 0;
        background: var(--white);
    }
    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
    &__breadcrumbs {
        margin-bottom: 20px;
    }
}

.section {
    padding: 20px 0;
}

.cp {
    cursor: pointer;
}
.cd {
    cursor: default;
}
.cw {
    cursor: wait;
}
.fl {
    display: flex;
    align-items: center;
}
.as {
    align-self: flex-start;
}
.fl-b {
    display: flex;
    align-items: baseline;
}
.fl-col {
    display: flex;
    flex-direction: column;
}
.fl-end {
    display: flex;
    align-items: flex-end;
}
.btn-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 20px;
}

.disable {
    pointer-events: none;
    color: var(--grey);
    cursor: default;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: default;
}

.coin {
    color: var(--blue);
    cursor: pointer;
}

.mr-8 {
    margin-right: 8px;
}
.mb-8 {
    margin-bottom: 8px;
}

// The red star at the end of element
.required:after {
    content: '*';
    color: red;
}

.w100 {
    width: 100% !important;
}
