:root {
    //--primary: #e30611;
    --primary: #eeeeee;
    //--primary-hover: #CF232A;
    --primary-hover: #202d3d;
    --mts: #e30611;
    --orange: #f95721;
    --blue: #014fce;
    --blue2: #007cff;
    --darkblue: #003057;
    --lightblue: #45b6fc;
    --blueberry: #e1f3fe;
    --mango: #ffcc00;
    --yellow: #f3b417;
    --cucumber: #7ac143;
    --apple: #e8faeb;
    --mint: #00c19b;
    --lightgreen: #74df8b;
    --plum: #883888;
    --white: #fff;
    --softgrey: #f7f8fb;
    --lightgrey: #f2f3f7;
    --shadow1: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.08);
    --shadow2: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 6px 12px rgba(0, 0, 0, 0.08);
    --shadow3: 0px 9px 10px rgba(0, 0, 0, 0.08), 0px 0px 8px rgba(0, 0, 0, 0.08);
    --shadow4: 0px 20px 30px rgba(0, 0, 0, 0.1), 0px 0px 8px rgba(0, 0, 0, 0.12);
    --shadow5: 0px 5px 10px rgba(110, 119, 130, 0.16), 0px 0px 4px rgba(110, 119, 130, 0.16);
    --half-grey: #e2e5eb;
    --grey: #bbc1c7;
    --grey1: #adafaf;
    --grey2: #8A8D8F;
    --grey3: #6E7782; /* OLD: #666465 */
    --black: #393e46;
    --bright-black: #001424;
    --focus-color: #001424;
    --lock-background: #fafafc;
    --border-radius: 4px;
    --list-item-padding: 8px 16px;
    --hover-transition: .3s cubic-bezier(.645,.045,.355,1);
    --section-padding: 32px 24px;
    --side-padding: 0 24px;
    --standart-padding: 8px 24px;
    --simple-padding: 8px;
}
